In [2]:
import pandas as pd

# Supongamos que este es tu dataframe original (como ejemplo)
data = {
    'estacion': [1, 2, 3],
    'magnitud': ['A', 'B', 'C'],
    'año': [2023, 2023, 2023],
    'mes': [1, 2, 2],
    'D01': [10, 20, 30],
    'D02': [11, 21, 31],
    'D03': [12, 22, 32],
    #... hasta D31
}

df = pd.DataFrame(data)

In [3]:
df

   estacion magnitud   año  mes  D01  D02  D03
0         1        A  2023    1   10   11   12
1         2        B  2023    2   20   21   22
2         3        C  2023    2   30   31   32

In [6]:
# Transformar el dataframe
df_melted = pd.melt(df, 
                    id_vars=['estacion', 'magnitud', 'año', 'mes'], 
                    value_vars=[f'D{i:02}' for i in range(1, 4)], 
                    var_name='dia', 
                    value_name='valor_medido')

# Eliminar las filas donde valor_medido es NaN
df_melted.dropna(subset=['valor_medido'], inplace=True)

# Convertir los nombres de las columnas 'D01', 'D02', ... a valores numéricos
df_melted['dia'] = df_melted['dia'].str.extract('(\d+)').astype(int)

# Crear una columna de fecha con año, mes y día
df_melted['fecha'] = pd.to_datetime(df_melted[['año', 'mes', 'dia']].format('%d/%M/%Y'))

# Eliminar las columnas de 'año', 'mes' y 'dia'
df_melted.drop(columns=['año', 'mes', 'dia'], inplace=True)

print(df_melted)

AttributeError: 'DataFrame' object has no attribute 'format'